h1 {
    text-align: center;
}

/* This includes our table & canvas */
.center-container {
    /* sets width of container */
    width: 608px;
    /* centers container */
    margin: 0 auto;
    /* 50 px down from top */
    margin-top: 50px;
}

table {
    /* This property collapse table borders into 1 border */
    border-collapse: collapse;
    /* hides outer borders */
    border-style: hidden;
}

td {
    /* changes cursor to pointer when we hover over elements */
    cursor: pointer;
    /* sets border style */
    border: 4px solid #DAA520;
    /* removes default padding */
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas {
    /* sets position of our canvas to top left corner */
    position: absolute;
    /* places canvas over the top of table */
    z-index: 10;
    /* makes canvas invisible */
    pointer-events: none;
}